<title>Sonnenmesser</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"
    integrity="sha512-BqNYFBAzGfZDnIWSAEGZSD/QFKeVxms2dIBPfw11gZubWwKUjEgmFUtUls8vZ6xTRZN/jaXGHD/ZaxD9+fDo0A=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.0/chartjs-plugin-annotation.min.js"
    integrity="sha512-JP7f/zE4RT2Y3SG5zOmxsrPIy1MJst7hB6HoZtqDFia+oI4v3goB/Zt+A5jMR+DxdRFF075Y5Hc5z6wCGDW3uw=="
    crossorigin="anonymous"></script>

<style>
    .container {
        max-width: 400px;
        max-height: 400px;
    }

    .text {
        display: inline-block;
        margin-right: 5px;
    }
</style>

<div>
    <h1>🌞 Sonnemesser</h1>
    <p>Platziere das Device an einem sonnigen Ort und miss den Verlauf.</p>
    <p class="text">Referenzwert: </p><b id="ref" class="text">x</b>
    <p class="text"> lux</p>
</div>

<div class="container">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>
<script>
    var recs = {{ values | tojson}}
    var ref = {{ ref }}

    document.getElementById("ref").innerHTML = ref

    var ctx = document.getElementById('myChart').getContext('2d');

    //const labels = Utils.months({ count: 7 });
    const data = {
        //labels: labels,
        datasets: [{
            label: 'Messwerte',
            data: recs,
            fill: false,
            borderColor: '#fcfc03',
            tension: 0.1
        }]
    };

    const options = {
        parsing: {
            xAxisKey: "timestamp",
            yAxisKey: "value"
        }
    }

    const config = {
        type: 'line',
        data: data,
        options: options
    };

    var myChart = new Chart(ctx, config);
</script>